/* .feature {
    background-color: aqua;
    height: 230px;
    border-radius: 64px;
    text-align: center;
    justify-content: center;

  }
  .feature-text {
    /* background: green;
    border-radius: 64px; */
    /* text-align: center; */
    /* padding: 60px 50px; */
    /* margin-top: -60px; */
  /* }
  .feature h4 {
      font-size: 45px;
      font-weight: 700;
  }
  .feature p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  } */
  /* .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  } */

  .proj-imgbx {
    position: relative;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 100px;
    /* background-image: url(https://t3.ftcdn.net/jpg/05/04/58/54/240_F_504585449_mn2TyFGZwglrhOmgI1AcBjlkebjxgEQL.jpg);
    background-repeat: no-repeat;
    background-size:cover; */
    /* background-color: whitesmoke; */
    /* border-width: 20px;
    border-color: aliceblue;     */
    border: 1px solid white;
    width:70%;
    /* padding-bottom: 100px; */
  }
  .proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #2bad93 -5.91%, #e4f3a0 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }
  .proj-imgbx:hover::before {
    height: 100%;
  }
  .proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }
  .proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }
  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }